Package: com.joel.mediactl
Name: mediactl
Version: 4.0
Architecture: iphoneos-arm64
Description: Command-line controller for the active iOS media session
Maintainer: Joel
Author: Joel
Section: Utilities
Depends: firmware (>= 15.0)
