Package: com.joel.mediactl
Name: mediactl
Description: Command-line controller for the active iOS media session
Maintainer: Joel
Author: Joel
Section: Utilities
Depends: firmware (>= 15.0)
Architecture: iphoneos-arm64
Version: 4.0-1+debug
Installed-Size: 464
